/* ========================================= */
/* CSS for control sap.m/ViewSettingsDialog  */
/* Base theme                                */
/* ========================================= */

.sapMVSD.sapMDialog .sapMDialogScrollCont{
	padding: 0;
}

.sapMTB.sapMVSDFilterHeaderToolbar {
	padding-left: 0;
	padding-right: 1rem;
	width: 100%;
	.sapMBarChild.sapMCb {
		margin-left: 0;
		.sapMCbLabel {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.sapMCbMark {
			white-space: normal;
		}
	}
}

//needed for removing not needed padding from the dialog which depends on the compatible version
.sapMVSD.sapUiPopupWithPadding .sapMDialogScrollCont.sapMDialogStretchContent{
	height: inherit;
}

.sapMSF.sapMVSDFilterSearchField,
.sapUiSizeCompact .sapMSF.sapMVSDFilterSearchField {
	padding: 0.25rem;
}

.sapUiSizeCompact .sapMTB.sapMListHdrTBar.sapMVSDFilterHeaderToolbar {
	height: 2rem;
	padding-left: 0.5rem;

	.sapMLabel.sapMCbLabel {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.sapUiSizeCompact .sapMSF.sapMVSDFilterSearchField > .sapMSFF {
	height: 1.5rem;
}

html.sap-desktop .sapMTB.sapMListHdrTBar.sapMVSDFilterHeaderToolbar {
	.sapMCb {
		outline: none;
		padding-right: 0.5rem;
	}
}

.sapMSF.sapMVSDFilterSearchField {
	border-bottom: 1px solid @sapUiGroupTitleBorderColor;
}

.sapMVSD .sapMTitle {
	font-size: @sapMFontHeader5Size;
	color: @sapUiContentLabelColor;
}

.sapUiSizeCompact .sapMTB.sapMListHdrTBar.sapMVSDFilterHeaderToolbar {
	.sapMLabel.sapMCbLabel {
		font-size: @sapMFontMediumSize;
	}
	.sapMCb.sapMBarChild:only-child {
		padding-left: 2rem;
	}
}

.sapUiSizeCozy .sapMTB.sapMListHdrTBar.sapMVSDFilterHeaderToolbar {
	.sapMLabel.sapMCbLabel {
		font-size: @sapMFontLargeSize;
	}
}

.sapUiSizeCompact .sapMVSD {
	.sapMSFI {
		height: 1.375rem;
		line-height: 1.375rem;
	}
	.sapMSFB {
		height: 1.375rem;
		line-height: 1.375rem;
	}
}
